<div *ngIf="planetResidents.length>0">
  <h2>Residents of planet {{planetName}}</h2>

  <div class="resident__filter-gender">
    <mat-form-field class="example-form-field">
      <mat-label>Filter by gender</mat-label>
      <mat-select
        (valueChange)="onFilterByGender($event)"
        [value]="selectedGenderFilter">
        <mat-option [value]="null">all</mat-option>
        <mat-option value="male">male</mat-option>
        <mat-option value="female">female</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="resident">
    <div class="resident__card" *ngFor="let resident of planetResidents">
      <div class="resident__img">
        <img src="assets/img/planet.png" alt="">
      </div>

      <div class="resident__info">
        <div class="resident__info-title">{{resident.name}}</div>
        <div class="resident__info-height">
          <span class="resident__prop">Height:</span>
          {{resident.height}}
          <!--        <td>{{resident.homeworld}}</td>-->
          <!--        <td>{{resident.films}}</td>-->
          <!--        <td>{{resident.species}}</td>-->
          <!--        <td>{{resident.vehicles}}</td>-->
          <!--        <td>{{resident.starships}}</td>-->
        </div>
        <div class="resident__info-mass">
          <span class="resident__prop">Mass:</span>
          {{resident.mass}}
        </div>
        <div class="resident__info-hair-color">
          <span class="resident__prop">Hair color:</span>
          {{resident.hair_color}}
        </div>
        <div class="resident__info-skin-color">
          <span class="resident__prop">Skin color:</span>
          {{resident.skin_color}}
        </div>
        <div class="resident__info-eye-color">
          <span class="resident__prop">Eye color:</span>
          {{resident.eye_color}}
        </div>
        <div class="resident__info-birth">
          <span class="resident__prop">Birth year:</span>
          {{resident.birth_year}}
        </div>
        <div class="resident__info-gender">
          <span class="resident__prop">Gender:</span>
          {{resident.gender}}
        </div>
        <div class="resident__info-created">
          <span class="resident__prop">Created:</span>
          {{resident.created | date: 'longDate'}}
        </div>
        <div class="resident__info-edited">
          <span class="resident__prop">Edited:</span>
          {{resident.edited | date: 'longDate'}}
        </div>
        <div class="resident__info-url">
          <span class="resident__prop">Url:</span>
          {{resident.url }}
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div *ngIf="planetResidents.length>0">
  <h2>Resident information</h2>
  <div class="col-md-3 col-sm-12">
    <mat-form-field class="example-form-field task__input">
      <mat-label class="task__placeholder">Фильтр по полу</mat-label>
      <mat-select
        (valueChange)="onFilterByGender($event)"
        [value]="selectedGenderFilter">
        <mat-option [value]="null">All</mat-option>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="table-responsive">
    <table class="table v-middle">
      &lt;!&ndash;  <thead>
        <tr class="bg-light">
          <th class="border-top-0">Rotation period</th>
          <th class="border-top-0">Orbital period</th>
          <th class="border-top-0">Diameter</th>
          <th class="border-top-0">Climate</th>
          <th class="border-top-0">Gravity</th>
          <th class="border-top-0">Terrain</th>
          <th class="border-top-0">Surface water</th>
          <th class="border-top-0">Population</th>
          <th class="border-top-0">Created</th>
          <th class="border-top-0">Edited</th>
          <th class="border-top-0">Url</th>
        </tr>
        </thead>&ndash;&gt;
      <tbody>
      <tr *ngFor="let resident of planetResidents">
        <td>{{resident.name}}</td>
        <td>{{resident.height}}</td>
        <td>{{resident.mass}}</td>
        <td>{{resident.hair_color}}</td>
        <td>{{resident.skin_color}}</td>
        <td>{{resident.eye_color}}</td>
        <td>{{resident.birth_year}}</td>
        <td>{{resident.gender}}</td>
        &lt;!&ndash;        <td>{{resident.homeworld}}</td>&ndash;&gt;
        &lt;!&ndash;        <td>{{resident.films}}</td>&ndash;&gt;
        &lt;!&ndash;        <td>{{resident.species}}</td>&ndash;&gt;
        &lt;!&ndash;        <td>{{resident.vehicles}}</td>&ndash;&gt;
        &lt;!&ndash;        <td>{{resident.starships}}</td>&ndash;&gt;
        <td>{{resident.created | date: 'medium'}}</td>
        <td>{{resident.edited | date: 'medium'}}</td>
        <td>{{resident.url | date: 'medium'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>-->
