.footer {
  margin-top: 20px;
}

/*==============================Copyright==============================*/
.copyright {
  background-color: var(--mine-shaft);
  padding: 10px;
  color: #fff;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 425px) {
      flex-direction: column;
    }
  }
}
