.footer {

}

/*==============================Copyright==============================*/
.copyright {
  background-color: var(--mine-shaft);
  padding: 10px 0;
  color: var(--white);

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 425px) {
      flex-direction: column;
    }
  }
}

