<h1 class="planet__title title">Star Wars planets</h1>
<div *ngIf="planets.length; else loading">
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td class="col-name" mat-cell *matCellDef="let planet"> {{planet.name}} </td>
      </ng-container>
      <ng-container matColumnDef="rotation_period">
        <th mat-header-cell *matHeaderCellDef> Rotation period</th>
        <td class="col-rotation_period" mat-cell *matCellDef="let planet"> {{planet.rotation_period}} </td>
      </ng-container>
      <ng-container matColumnDef="orbital_period">
        <th mat-header-cell *matHeaderCellDef> Orbital period</th>
        <td class="col-orbital_period" mat-cell *matCellDef="let planet"> {{planet.orbital_period}} </td>
      </ng-container>
      <ng-container matColumnDef="diameter">
        <th mat-header-cell *matHeaderCellDef> Diameter</th>
        <td class="col-diameter" mat-cell *matCellDef="let planet"> {{planet.diameter}} </td>
      </ng-container>
      <ng-container matColumnDef="climate">
        <th mat-header-cell *matHeaderCellDef> Climate</th>
        <td class="col-climate" mat-cell *matCellDef="let planet"> {{planet.climate}} </td>
      </ng-container>
      <ng-container matColumnDef="gravity">
        <th mat-header-cell *matHeaderCellDef> Gravity</th>
        <td class="col-gravity" mat-cell *matCellDef="let planet"> {{planet.gravity}} </td>
      </ng-container>
      <ng-container matColumnDef="terrain">
        <th mat-header-cell *matHeaderCellDef> Terrain</th>
        <td class="col-terrain" mat-cell *matCellDef="let planet"> {{planet.terrain}} </td>
      </ng-container>
      <ng-container matColumnDef="surface_water">
        <th mat-header-cell *matHeaderCellDef> Surface water</th>
        <td class="col-surface_water" mat-cell *matCellDef="let planet"> {{planet.surface_water}} </td>
      </ng-container>
      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef> Population</th>
        <td class="col-" mat-cell *matCellDef="let planet"> {{planet.population}} </td>
      </ng-container>
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created</th>
        <td class="col-created" mat-cell *matCellDef="let planet"> {{planet.created | date: 'mediumDate'}} </td>
      </ng-container>
      <ng-container matColumnDef="edited">
        <th mat-header-cell *matHeaderCellDef> Edited</th>
        <td class="col-edited" mat-cell *matCellDef="let planet"> {{planet.edited | date: 'mediumDate'}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td class="col-action" mat-cell *matCellDef="let planet">
          <button mat-flat-button
                  color="primary"
                  [routerLink]="['/planets', planet.url | idPlanet]"
          >Open
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<ng-template #loading>
  <div class="not-found">
    Loading...
  </div>
</ng-template>

