.planet {
  &__title {
    margin: 2rem 0;
  }
}

th {
  background: var(--light-color);
  padding: 0.5rem 1rem;

}

tr {
  height: 48px;
  border-bottom: 1px solid var(--silver);
}

td {
  padding: 0.5rem 1rem;
}
