<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

  <app-header></app-header>

  <aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li class="p-15 m-t-10"><a href="javascript:void(0)"
                                     class="btn d-block w-100 create-btn text-white no-block d-flex align-items-center"><i
            class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Create New</span> </a>
          </li>
          <!-- User Profile-->
          <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                      href="index.html" aria-expanded="false"><i
            class="mdi mdi-view-dashboard"></i><span
            class="hide-menu">Dashboard</span></a></li>
          <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                      href="pages-profile.html" aria-expanded="false"><i
            class="mdi mdi-account-network"></i><span class="hide-menu">Profile</span></a></li>
          <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                      href="table-basic.html" aria-expanded="false"><i
            class="mdi mdi-border-all"></i><span
            class="hide-menu">Table</span></a></li>
          <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                      href="icon-material.html" aria-expanded="false"><i class="mdi mdi-face"></i><span
            class="hide-menu">Icon</span></a></li>
          <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                      href="starter-kit.html" aria-expanded="false"><i class="mdi mdi-file"></i><span
            class="hide-menu">Blank</span></a></li>
          <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                      href="error-404.html" aria-expanded="false"><i
            class="mdi mdi-alert-outline"></i><span
            class="hide-menu">404</span></a></li>
        </ul>

      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row align-items-center">
        <div class="col-5">
          <h4 class="page-title">Dashboard</h4>
          <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-7">
          <div class="text-end upgrade-btn">
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="container-fluid">
      <div class="row">

        <div class="col-12">
          <app-dashboard></app-dashboard>
        </div>
      </div>

      <div class="row">
        <!-- column -->
        <div class="col-lg-6">
          <div class="card">

          </div>
        </div>
        <!-- column -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Temp Guide</h4>
              <div class="d-flex align-items-center flex-row m-t-30">
                <div class="display-5 text-info"><i class="wi wi-day-showers"></i>
                  <span>73<sup>°</sup></span></div>
                <div class="m-l-10">
                  <h3 class="m-b-0">Saturday</h3><small>Ahmedabad, India</small>
                </div>
              </div>
              <table class="table no-border mini-table m-t-20">
                <tbody>
                <tr>
                  <td class="text-muted">Wind</td>
                  <td class="font-medium">ESE 17 mph</td>
                </tr>
                <tr>
                  <td class="text-muted">Humidity</td>
                  <td class="font-medium">83%</td>
                </tr>
                <tr>
                  <td class="text-muted">Pressure</td>
                  <td class="font-medium">28.56 in</td>
                </tr>
                <tr>
                  <td class="text-muted">Cloud Cover</td>
                  <td class="font-medium">78%</td>
                </tr>
                </tbody>
              </table>
              <ul class="row list-style-none text-center m-t-30">
                <li class="col-3">
                  <h4 class="text-info"><i class="wi wi-day-sunny"></i></h4>
                  <span class="d-block text-muted">09:30</span>
                  <h3 class="m-t-5">70<sup>°</sup></h3>
                </li>
                <li class="col-3">
                  <h4 class="text-info"><i class="wi wi-day-cloudy"></i></h4>
                  <span class="d-block text-muted">11:30</span>
                  <h3 class="m-t-5">72<sup>°</sup></h3>
                </li>
                <li class="col-3">
                  <h4 class="text-info"><i class="wi wi-day-hail"></i></h4>
                  <span class="d-block text-muted">13:30</span>
                  <h3 class="m-t-5">75<sup>°</sup></h3>
                </li>
                <li class="col-3">
                  <h4 class="text-info"><i class="wi wi-day-sprinkle"></i></h4>
                  <span class="d-block text-muted">15:30</span>
                  <h3 class="m-t-5">76<sup>°</sup></h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <app-footer></app-footer>

  </div>

</div>

