<h1 class="planet__title title">Planet Information {{planetName}}</h1>

<div class="planet__card">
  <div class="planet__img">
    <img src="assets/img/planet.png" alt="">
  </div>
  <div class="planet__info">
    <table class="table resp-tab v-middle">
      <tbody>
      <tr *ngFor="let planet of planetInfo">
        <td class="planet__prop-name">{{planet[0] | titlecase}}</td>
        <td>{{planet[1]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-resident [residentUrl]="residentUrl" [planetName]="planetName"></app-resident>
<button mat-flat-button color="primary" [routerLink]="['/']">Back</button>
